{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle recette{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
			<div class="logo text-center">
				<img src="{{ asset('images/logo.svg') }}" alt="Logo" class="img-fluid" style="max-width: 200px;">
			</div>
		</div>

        <div class="main">
            <div class="section">
                <h1>Ajouter une nouvelle recette</h1>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Enregistrer</button> <!-- Added btn-primary class -->
                <a href="{{ path('admin_users') }}" class="btn btn-danger">Annuler</a> <!-- Added btn-danger class -->
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
