{% extends 'base.html.twig' %}

{% block title %}Détails de la recette{% endblock %}

{% block content %}
    <h1>Détails de la recette</h1>

    <dl class="row">
        <dt class="col-sm-3">Nom :</dt>
        <dd class="col-sm-9">{{ recipe.name }}</dd>

        <dt class="col-sm-3">Description :</dt>
        <dd class="col-sm-9">{{ recipe.description }}</dd>

        <dt class="col-sm-3">Instructions :</dt>
        <dd class="col-sm-9">{{ recipe.instructions }}</dd>

        <dt class="col-sm-3">Temps de préparation :</dt>
        <dd class="col-sm-9">{{ recipe.preparationTime }}</dd>

        <dt class="col-sm-3">Temps de cuisson :</dt>
        <dd class="col-sm-9">{{ recipe.cookingTime }}</dd>

        <dt class="col-sm-3">Difficulté :</dt>
        <dd class="col-sm-9">{{ recipe.difficulty }}</dd>

        <dt class="col-sm-3">Nombres de personnes :</dt>
        <dd class="col-sm-9">{{ recipe.servings }}</dd>

        <dt class="col-sm-3">Note :</dt>
        <dd class="col-sm-9">{{ recipe.rating }}</dd>

        <dt class="col-sm-3">Statut :</dt>
        <dd class="col-sm-9">{{ recipe.status ? 'Actif' : 'Inactif' }}</dd>
    </dl>

    <a href="{{ path('admin_recipes_edit', {'id': recipe.id}) }}" class="btn btn-primary">Modifier</a>
    <a href="{{ path('admin_recipes_delete', {'id': recipe.id}) }}" class="btn btn-danger">Supprimer</a>
    <a href="{{ path('app_admin') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
