{% extends 'base.html.twig' %}

{% block title %}Gérer les catégories
{% endblock %}

{% block content %}
	<div class="container">
		<div class="header">
			<div class="logo text-center">
				<img src="{{ asset('images/logo.svg') }}" alt="Logo">
			</div>
		</div>

		<div class="main">
			<div class="section">
				<h1>Gérer les catégories</h1>

				<a href="{{ path('admin_categories_new') }}" class="btn btn-primary mb-3">Ajouter une catégorie</a>

				<a href="{{ path('app_admin') }}" class="btn btn-secondary mb-3">Revenir à la liste des recettes</a>

				<table class="table">
					<thead>
						<tr>
							<th class="text-left">Nom</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for category in categories %}
							<tr>
								<td>{{ category.name }}</td>
								<td class="d-flex justify-content-end">
									<a href="{{ path('admin_categories_edit', {'id': category.id}) }}" class="btn btn-sm btn-primary ml-1">Modifier</a>
									<form action="{{ path('admin_categories_delete', {'id': category.id}) }}" method="post" style="display: inline;">
										<input type="hidden" name="_method" value="DELETE">
										<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
										<button type="submit" class="btn btn-sm btn-danger ml-1" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?')">Supprimer</button>
									</form>
									<a href="{{ path('admin_categories_view', {'id': category.id}) }}" class="btn btn-sm btn-secondary ml-1">Voir</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>


			</div>
		</div>
	</div>
{% endblock %}
