{% extends 'base.html.twig' %}

{% block title %}Détails de la catégorie{% endblock %}

{% block content %}
    <div class="container-fluid">
        <header class="mb-4">
            <div class="container py-3">
                <div class="row align-items-center">
                    <div class="col-6">
                    </div>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="section">
                <h1>Détails de la catégorie</h1>

                <dl class="row">
                    <dt class="col-sm-3">Nom :</dt>
                    <dd class="col-sm-9">{{ category.name }}</dd>
                </dl>

                <a href="{{ path('admin_categories_edit', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
                <form id="delete-form-{{ category.id }}" action="{{ path('admin_categories_delete', {'id': category.id}) }}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete({{ category.id }})">Supprimer</button>
                </form>
                <a href="{{ path('admin_categories_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>



{% endblock %}
