{% extends 'base.html.twig' %}

{% block title %}Détails de la catégorie{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <div class="logo text-center"> <!-- Added text-center class -->
                <img src="{{ asset('images/logo.svg') }}" alt="Logo">
            </div>
        </div>

        <div class="main">
            <div class="section">
                <h1>Détails de la catégorie</h1>

                <dl class="row">
                    <dt class="col-sm-3">Nom :</dt>
                    <dd class="col-sm-9">{{ category.name }}</dd>
                </dl>

                <a href="{{ path('admin_categories_edit', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
                <form id="delete-form-{{ category.id }}" action="{{ path('admin_categories_delete', {'id': category.id}) }}" method="post" style="display: inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                    <button type="button" class="btn btn-sm btn-danger" onclick="confirmDelete({{ category.id }})">Supprimer</button>
                </form>
                <a href="{{ path('admin_categories_index') }}" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </div>
    </div>

    <script>
        function confirmDelete(categoryId) {
            if (confirm("Êtes-vous sûr de vouloir supprimer cet catégorie ?")) {
                document.getElementById('delete-form-' + categoryId).submit();
            }
        }
    </script>
{% endblock %}
