{% extends 'base.html.twig' %}

{% block title %}Modifier le commentaire{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <div class="logo text-center">
                <img src="{{ asset('images/logo.svg') }}" alt="Logo" class="img-fluid" style="max-width: 200px;">
            </div>
        </div>

        <div class="main">
            <div class="section">
                <h1>Modifier le commentaire</h1>

                {{ form_start(form) }}
{{ form_row(form.text) }}
{{ form_row(form.status) }}
{% if form.csrfToken is defined %}
    <input type="hidden" name="_token" value="{{ form.csrfToken }}">
{% endif %}
                <button type="submit" class="btn btn-primary">Valider</button>
                <a href="{{ path('admin_recipes') }}" class="btn btn-danger">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
